__pycache__/
*.py[cod]
*.log
*.tmp
.idea/
.vscode/
.DS_Store
Thumbs.db
config.json
state.json
install-state.json
build/
dist/
release/
vendor/
*.spec
version-info.txt
icons/header.png
icons/app-preview.png
icons/ssb.ico
.tools/
*.key
.venv/
